/* COLOR PALETTE */

/* color: #0C5274 ;
color: #2D2231 ;
color: #BC9D7E ; 
color: #0E3857 ;
color: #3EA6D2 ; */

.COLOR-PALETTE {
  color: #0C5274;
  color: #2D2231;
  color: #BC9D7E; 
  color: #0E3857;
  color: #3EA6D2;
}