@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.COLOR-PALETTE {
  color: #0C5274;
  color: #2D2231;
  color: #BC9D7E; 
  color: #0E3857;
  color: #3EA6D2;
}

/* MAIN STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to top, #00586c 0%, #330867 100%);
  color: #fff395;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

#display {
  margin: 100px;
  padding: 30px;
  width: 100vw;
  color: #efd28a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

#banner {
  margin-bottom: 30px;
}

#banner h1 {
  font-size: 4em;
}

/* NAVBAR */
.navbar {
  height: 100vh;
  padding-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color:  #BC9D7E;
}

.navbar i {
  size: 5px;
}

.navbar i:hover {
  text-shadow: 2px 2px 20px;
}

.navbar.hidden {
  transition: all 500ms ease-in-out;
  display: none;
}

/* ENTRY FORM */
#form-field input{
  background: transparent;
  width: 60%;
  height: 40px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 5px solid #debd84;
  outline-style: none;
  color: #debd84;
  font-size: 2em;
  text-align: center;
}

#form-field button {
  background: none;
  border: none;
  color: #debd84;
}

/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #00586c 0%, #330867 100%);
  padding: 1rem 1.5rem;
  width: 30rem;
  height: 30rem;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.close-button {
  align-self: flex-end;
  justify-self: flex-start;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background: transparent;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
  /* transform: scale(1.1);
  transition: visibility .5s ease-in-out .5s, opacity 0.55s 0s, transform 0.55s; */
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modal-content h1 {
  margin-bottom: 2rem;
}

#entry-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#mood {
  width: 90%;
  align-self: center;
  margin-bottom: 2rem;
}

#narrative {
  background: transparent;
  color: #debd84;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

#done {
  width: 60%;
  height: 2rem;
  background-color: #2008676b;
  color: #efd28a;
  border: 1px solid #0E3857;
  border-radius: 5px;
}

/* DASHBOARD */
#dashboard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

/* CALENDAR */
#calendar {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  width: 100%;
  background: rgba(103, 86, 122, 0.372);
  text-align: center;
  justify-content: space-around;
  align-items: stretch;
  /* position:relative;
  z-index: 100; */
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.left, .right {
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  margin-right: 10%;
}

.right {
  margin-left: 10%;
}


.month {
  overflow: hidden;
  width: 100%;
}

/* .month.new {
  opacity: 1;
} */

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
 background: transparent;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items: center;
 width: 100%;
}

.day {
  padding: 5px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: transparent;
}

.day.other {
 color: rgba(255, 255, 255, .3);
}

.day.today {
  color: rgba(156, 202, 235, 1);
}

.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
}

.day-number {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}


.day .day-entries {
  list-style: none;
  margin-top: 2px;
  text-align: center;
  height: fit-content;
  line-height: 6px;
  overflow: hidden;
  display: flex;
  flex-flow: row;
}

.day .day-entries span {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.terrible { background: rgb(233, 77, 77); }
.bad { background: rgb(247, 136, 0); }
.meh { background: rgb(244, 234, 104); }
.good { background: rgb(166, 249, 0); }
.great { background: rgb(34, 202, 96); }

.details {
  /* position: relative; */
  width: 100%;
  height: fit-content;
  background: rgba(48, 41, 91, 0.79);
  margin-top: 5px;
  border-radius: 5px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

.entries {
  padding-left: 10px;
}

.entries.in {
  -webkit-animation: moveFromTopFade .3s ease both;
  -moz-animation: moveFromTopFade .3s ease both;
  animation: moveFromTopFade .3s ease both;
}

.entries.out {
  -webkit-animation: moveToTopFade .3s ease both;
  -moz-animation: moveToTopFade .3s ease both;
  animation: moveToTopFade .3s ease both;
}


/* ANIMATIONS */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
